.task {
    border: 1px solid rgba(212,212,212,212);
    border-radius: 8px;
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.task-information {
    display: flex;
    margin-top: 20px;
}

.task-value {
    margin: 0;
}

input {
    margin-right: 20px;
}

.info {
    margin-right: 20px;
}

.info:last-child {
    margin-right: 0;
}
